# Dependencies
node_modules/
dist/
build/
coverage/

# Firebase / Secret Management
.env
.env.*
!.env.example
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
.firebase/

# OS / IDE
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Custom
web/src/shared/services/firebase.ts
web/.env
