@import "tailwindcss";

@plugin "./hero.ts";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@theme {
  --color-ios-blue: #0079f2;
  --color-ios-green: #30D158;
  --color-ios-red: #FF453A;
  --color-ios-gray: #8E8E93;
  --color-ios-dark-gray: #1C1C1E;
}

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground antialiased;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
